@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    height: 100%;
    width: 100%;
    background-color: #e6e7e8;
    font-family: 'Roboto Slab', sans-serif;
    -moz-user-select: none;
    user-select: none;
}
.top-link , .top_link_right{
    display: flex;
}
.top-link , .top-link a{
    color: rgb(80, 80, 80);
}
.top_links{
    font-size: 0.75rem;
    height: 37px;
}
.top_link_inner{
    height: 37px!important;
}
.upper_links span a{
    text-decoration: none;
}
.upper_links span a:hover{
    color: rgb(247, 53, 19);
}
ul.social li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 37px;
    cursor: pointer;
    border: 0;
    border-right: 0.6px solid rgb(184, 181, 181);
    background-color: rgb(250, 75, 44);
    transition: background 0.4s ease;
}
ul.social li:last-child{
    border: none;
}
ul.social a{
    font-size: 1.1rem;
    color: white!important;
}
.top_link_right .dropLink{
    display: inline-block;
    cursor: pointer;
    width: 90px;
    padding:8px 11px;
    background: rgba(255,255,255,0.3);
    margin: 0;
    margin-right: 2px;
    transition: background 0.4s ease;
    font-size: 0.9rem;
}
ul.social li:hover{
    background: rgb(19, 129, 202);
}
.dropdown-menu{
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 60px!important;
    line-height: 2rem !important;
    transition: background 0.4s ease;
}
.dropdown-menu a{
    line-height: 2rem!important;
    transition: background 0.4s ease;
}
.top_link_right .dropLink:hover , .dropdown-menu a:hover{
    background-color: #0d0d0d;
    color: white;
}
.top_link_dropdown:hover > .top_link_hover_content{
    display: block;
}

/* header image */
.top_head_image{
    width: 100%;
    background: white;
    padding: 20px 0;
}
.navbar_list > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}
.navbar_feature{
    background-color: #0d0d0d;
    color: white;
    height: 50px;
}
.navbar_list{
    height: 50px !important;
}
.activenav{
    background-color: rgb(251, 86, 56) !important;
    color: white !important;
}
.navbar{
    padding: 0.5rem 1rem 0.5rem 0rem !important;
}
.navbar_list ul li{
    padding:13px 12px 13px 13px;
    text-align: center;
    transition: 0.4s ease;
    position: relative;
}
.navbar_list ul li a{
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
    padding: 8px 17px !important;
    text-decoration: none;
}
.navbar_list ul li a > span{
    font-size: 0.9rem !important;
}
.navbar_list ul li:hover{
    background-color: rgba(144, 144, 144,0.4);
}
.search_bag{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
.search_bag span{
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
    transition: 0.5s ease;
}
.search_bag span:hover{
    background-color: rgb(251, 86, 56);
}

/* -----SMALL SCREEN NAVBAR ----- */
#menuicon{
    cursor: pointer;
}
.small_header .col-6{
    position: none !important;
}
.small_header_ul{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #0d0d0d;
    text-align: center;
    transition: max-height 0.6s ease;
    overflow: hidden;
    z-index: 1000 !important;
}
.small_header_ul li a{
    line-height: 2rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 200;
    font-size: 0.75rem;
}
.small_header_ul li a:hover{
    color: grey;
}
#closeIcon{
    display: none;
}
.side_arrow , .lifestyle_arrow , .world_arrow ,.feature_arrow{
    cursor: pointer;
    color: white;
}
.small_header_click_ul , .lifestyle_click_ul ,.world_click_ul ,.feature_click_ul{
    position: relative;
    background-color: #0d0d0d;
    left: 0;
    width: 100% !important;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease;
    font-size: 0.8rem;
}
.feature_click_ul h3{
    color: rgb(199, 197, 197);
    font-size: 1.2rem;
}
.small_header_click_ul li a, .lifestyle_click_ul li a,.world_click_ul li a,.feature_click_ul li a{
    line-height: 2.4rem !important;
}


/* ----------- dropdown UL ----------- */
/*----- HOME & LIFESTYLE DROPDOWNS -------- */
#child_UL{
    position: absolute;
    left:-4px;
    width: 260px!important;
    margin-top: 4px;
}
.home_dropdown:hover > #child_UL , .lifestyle:hover > .lifestyle_dropdown , .videos:hover > .videos_dropdown , .world:hover > .world_dropdown ,.layout:hover > .layout_dropdown , .postType:hover > .postType_dropdown , .feature:hover > .feature_dropdown{
    display: block;
}
#child_UL a, .lifestyle_dropdown_left a , .world_dropdown a , .layout_dropdown a ,.postType_dropdown a,
.feature_dropdown a{
    color: black !important;
    transition: 0.4s ease !important;
}
#child_UL a:hover , .lifestyle_dropdown_left a:hover , .world_dropdown a:hover , .layout_dropdown a:hover ,
.postType_dropdown a:hover , .feature_dropdown a:hover{
    background-color: rgb(251, 86, 56);
    color: white !important;
}

/* ------LIFETYLE---------- */
.lifestyle_dropdown , .videos_dropdown , .feature_dropdown{
    position: absolute;
    width: 1060px!important;
    left: -115px!important;
    margin-top: 4px;
}
.lifestyle_dropdown_left a{
    display: block;
}
.lifestyle_dropdown{
    width: 90%;
}
.lifestyle_dropdown_right{
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dropdown-item:hover{
    background-color: none!important;
    color: white!important;
}
.lifestyle_dropdown_right img:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/* ------- VIDEOS ---------- */
.videos_dropdown{
    width: 1090px!important;
    left: -245px !important;
    padding:0 5px 0px 2px!important;
    margin-top: 4px;
}
.videos_dropdown .col-3{
    position: relative;
}
.videos_dropdown .col-3::before{
    position: absolute;
    content: 'ABC';
    z-index: 100;
    clear: both;
    width: 75px;
    height: 35px;
    left: 20px;
    background-color: #0d0d0d;
    color: white;
    padding: 4px;
}
.videos_kushma::before{
    position: absolute!important;
    content: 'Kushma' !important;
}
.videos_damauli::before{
    position: absolute!important;
    content: 'Damauli' !important;
}
.videos_antu::before{
    position: absolute!important;
    content: 'Antu' !important;
}
.background{
    position: absolute;
    background-color: rgb(250, 65, 32);
    width: 80px;
    height: 35px;
}
.date{
    padding: 0 12px;
}
.date .fa-calendar , .date p{
    cursor: pointer;
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 2px;
    color: rgb(116, 113, 113);
}
.fa-calendar , .date p:hover{
    color: rgb(250, 65, 32)!important;
}
/* -------------- WORLD ---------------- */
.world_dropdown{
    left: -370px !important;
    position: absolute;
    width: 1060px!important;
    margin-top: 4px;
}
.world_right_image{
    padding: 6px;
}
.world_dropdown h4{
    font-size: 1rem !important;
    font-weight: 250 !important;
}
.world_dropdown h4:hover{
    color: rgb(250, 65, 32)!important;
}
.world_right_image_inner > .row{
    cursor: pointer;
    align-items: center;
}
.hover_second{
    display: none !important;
}

/* --- LAYOUT DROPDOWN --- */
.layout_dropdown{
    width: 220px!important;
    margin-top: 4px;
}

/* ---POST-TYPE DROPDOWN --- */
.postType_dropdown{
    width: 220px !important;
    margin-top: 4px;
}

/* ------- FEATURE DROPDOWN -------- */
.feature_dropdown{
    width: 700px !important;
    left: -574px !important;
    margin-top: 4px;
}  

/* -------- TOGGLE NAVBAR ---------- */
.toggle_outer{
    z-index: 1000;
    width: 300px;
    height: 100vh;
    padding:0 6px 10px 30px;
    background: #0d0d0d;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    overflow: hidden;
}
.nav-link{
    transform: translateX(0%);
}
.close-link{
    transform: translateX(-100%);
}
.toggle_div_logo{
    display: flex;
    flex-basis: 100%;
    min-width: 200px;
}
.toggle_div_logo img{
    max-width: 100%;
}
.toggle_inner{
    margin-bottom: 40px;
}
.toggle_inner_part2, .news{
    width: 240px;
    height: 30px;
    background-image: url('../images/title_pattern.png');
    background-repeat: repeat;
}
.news, .newsUL{
    margin-top: 30px;
} 
.newsUL{
    margin-top: 20px;
}
.toggle_inner_part2 .home{
    text-align: center;
    width: 90px;
    height: 30px;
    color: white;
    background: #f8452d;
}
.toggle_inner_part2 h2{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}
.homeUL{
    margin-top: 20px;
}
.homeUL li , .newsUL li{
    cursor: pointer;
    color: rgb(170, 169, 169);
    line-height: 40px;
    border-bottom: 0.6px solid rgb(99, 98, 98);
}
.cancel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 6px 20px 0px;
}
.close{
    cursor: pointer;
    color: rgb(158, 157, 157);
    font-size: 25px;
}
.newsUL li:hover, .homeUL li:hover{
    background-color: rgb(243, 78, 28);
    color: white;
}
.close:hover{
    color: rgb(241, 34, 34);
}

/* ---- MEDIA QUERIES FOR NABVAR ---------- */

@media screen and (min-width:800px){
    .lifestyle_dropdown , .videos_dropdown , .world_dropdown{
        width: 880px !important;
    }
}
@media screen and (min-width:760px){
    .small_header_ul{
        top: 115px !important;
    }
}


/* ---------------- BODY TRENDING PART --------- */

.trend{
    width: 100%;
    height: 35px;
    background: white;
    font-size: 0.93rem;
    color: black;
    padding-top:6px !important;
    font-weight: 500;
}
.trend span{
    font-size: 0.8rem;
    color: rgb(94, 93, 93);
}

/* ------------ BODY ------------ */

.body_part_1_large_pic{
    height: 340px !important;
}
.imgHeight{
    min-height: 340px !important;
}

@media screen and (min-width:768px){
    .imgHeight{
        min-height: 218px !important;
    }
    .body_part_1_large_pic{
        min-height: 440px !important;
    }
    /* --------- LIFESTYLE MEDIUM SCREEN MEDIA QUERY ------------ */
    .lifestyle_pattern{
        width: 95%;
    }
}
.imgHeight::before , .body_part_1_large_pic::before{
    position: absolute;
    content: 'Technology';
    font-size: 0.8rem;
    clear: both;
    top: 0px;
    width: 75px;
    height: 35px;
    background-color: #0d0d0d;
    color: white;
    left: 8px;
    z-index: 10;
    padding: 8px 3px;
}
.body_part_1_large_pic::before{
    top: 4px;
}
.hover_div{
    position: absolute;
    bottom: 0px;
    color: white;
    cursor: pointer;
}
.hover_div span{
    font-size: 0.8rem;
}
.imgHeight h4{
    font-size: 1.4rem;
}
.hover_div > span:hover , .hover_div h4:hover{
    color: rgb(243, 78, 28);
}

/* ------------ HOVER_CONTENT ------------- */
#left-col:hover .split-banner{     
    margin-top: 1rem;
    width: max-content;     
    height:2rem;            
    background-color: rgb(250, 58, 24);
    padding-left:1rem;                  
}
.split-banner{
    width: min-content;
    margin-top:0;
    padding-left:0;
    transition: all 0.3s, 0.3s;
}
#left-col:hover .split-banner .content{
    display: block!important;
} 

/* ---------------- LEFT IMAGE HOVER EFFECT ------------ */
#right-col:hover .split_banner_right{
    width: max-content;
    margin-top: 1rem;
    height: 2rem;
    padding-left: 1.2rem;
    background-color: rgb(250, 58, 24);
}
.split_banner_right{
    width: 0;
    margin-top: 0;
    padding-left: 0;
    transition: all 0.3s , 0.3s;
}

#right-col:hover .split_banner_right .right_content{
    display: block!important;
}

/* -------------------- BODY LIFESTYLE --------------- */
.lifestyle_pattern{
    background: url('../images/title_pattern.png') repeat;
    height: 32px;
    width:100%;
}
.lifestyle_pattern::before{
    position: absolute;
    content: 'Lifestyle';
    background-color: rgb(243, 78, 28);
    color: white;
    line-height: 32px;
    width: 90px;
    padding-left: 10px;
    font-size: 1rem;
}
.lifestyle_inner_part_arrow{
    display: inline-block;
    font-size: 1.2rem;
    width: 29px;
    background-color: white;
    text-align: center;
    font-weight: 100;
}

/* ----------LIFESTYLE LOWER PART ---------------- */
.lifestyle_lower_part_image3_content{
    background-color: white;
}
.lifestyle_lower_part_image1::before,
.lifestyle_lower_part_image2::before,
.lifestyle_lower_part_image3::before,
.lifestyle_lower_part_image4::before,
.music_lower_container_right_image::before{
    position: absolute;
    content: 'Technology';
    font-size: 0.82rem;
    clear: both;
    top: 0;
    width: 80px;
    height: 35px;
    background-color: #0d0d0d;
    color: white;
    left: 8px;
    z-index: 10;
    padding: 6px 2px;    
}
.lifestyle_lower_part_content h5{
    cursor: pointer;
    font-weight: 360;
}
.lifestyle_lower_part_content span{    
    cursor: pointer;
    font-size: 0.82rem;
    color: rgb(110, 109, 109) !important;
}
.lifestyle_lower_part_content h5:hover , .lifestyle_lower_part_content span:hover{
    color: rgb(241, 34, 34);
}


/* ---------- BODY PART 3 MUSIC ---------- */
.music_container_left_pattern , .music_container_right_pattern ,.most_views_pattern{
    background: url('../images/title_pattern.png') repeat;
    height: 34px;
    width:100%;
}
.music_container_right_pattern::before ,.most_views_pattern::before{
    position: absolute;
    content: 'Stay Connected';
    background-color: #0d0d0d;
    color: white;
    line-height: 34px;
    padding: 0 8px;
}
.most_views_pattern::before{
    content: 'Most Views';
}
.music_container_left_pattern::before{
    position: absolute;
    content: 'Popular';
    background-color: rgb(243, 78, 28);
    color: white;
    line-height: 34px;
    width: 80px;
    left: 0;
    padding-left: 10px;
    font-size: 1rem;
}
.music_container_left_title li{
    width: 5.3rem;
    margin-right: 1px;
    height: 34px;
    background-color: white;
    padding:4px 15px;
}
.music_container_left_title li a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size:0.9rem;
}
.music_container_left_title li a:hover{
    color: red;
}

/* ------ BODY PART 3 MUSIC LOWER CONTAINER -------- */
.music_lower_inner_container_left_image{
    height: 250px;
}
.music_lower_inner_container_left{
    background-color: white;
}
.music_lower_inner_container_left_content span{
    font-size: 0.83rem;
    font-weight: 300;
}
.music_lower_container_left_media{
    background-color: rgb(243, 85, 37);
    color: white;
}
.music_lower_container_left_media_content span , .readMore{
    cursor: pointer;
    font-size: 0.8rem;
}
.music_lower_container_left_media_content span:hover , .readMore:hover{
    color: black;
}
.music_lower_inner_container_right{
    background-color: white;
}
.music_inner_container_right_content2_image,
.music_inner_container_right_content4_image{
    background: url('../images/team1.png');
    background-position: center;
    background-size: cover;
    height: 80px;
}
.music_inner_container_right_content1_image,
.music_inner_container_right_content3_image{
    background: url('../images/team2.png');
    background-position: center;
    background-size: cover;
    height: 80px;
}
.calendar{
    font-size: 0.8rem;
    color: gray;
}
.music_lower_inner_container_right h6:hover ,
.music_lower_inner_container_left_content h3:hover,
.music_lower_inner_container_left_content span:hover,
.music_lower_inner_container_right span:hover{
    cursor: pointer;
    color: rgb(243, 78, 28);
}
.btn{
    color: white;
    font-size: 1.4rem !important;
    border-radius: 0 !important;
    height: 80px !important;
}
.btn-fb{
    background-color: #3b5998;
}
.btn-tw{
    background-color: #55acee;
}
.btn-li{
    background-color: #0082ca;
}
.btn-pin{
    background-color: #c61118;
}
.btn-yt{
    background-color: #ed302f;
}
.btn-ins{
    background-color: #6ce0e9;
}
.music_lower_container_right_image{
    background: url('../images/team3.png');
    background-position: center;
    background-size: cover;
    height: 150px;
}
.music_lower_container_right_image_div{
    background-color: white;
}
.music_lower_container_right_title span{
    cursor: pointer;
    font-size: 0.8rem;
    color: gray;
}
.music_lower_inner_container_left_content h3{
    font-size: 1.4rem;
}
.music_lower_inner_container_left_content p{
    font-size: 0.9rem;
}
.music_lower_container_right_title span:hover ,.music_lower_container_right_title h6:hover{
    color: rgb(243, 78, 28);
}
@media screen and (min-width:600px){
    .music_lower_inner_container_left_content h3{
        font-size: 1.75rem;
    }
    .music_lower_inner_container_left_content p{
        font-size: 1rem;
    }
    .music_lower_container_left_media_content span , .readMore{
        font-size: 0.9rem;
    }
    /* -----SMALL SCREEN HEADER MEDIA QUERY ---------- */
    .small_header_ul li a{
        font-size: 0.9rem;
        line-height: 3rem;
    }

}

/* ------------------- RECIPE ----------------- */
.recipes{
    background-color: #0d0d0d;
}
.recipe_pattern{
    background: url('../images/title_pattern.png');
    background-repeat: repeat;
    width: 100%;
    height: 34px;
}
.recipe_pattern::before{
    position: absolute;
    content: 'Recipes';
    line-height: 34px;
    background:rgb(243, 78, 28);
    color: white;
    width: 90px;
    padding-left: 15px;
}
.recipe_image1, .recipe_image3{
    background: url('../images/blog1.jpg');
    height: 280px;
    background-position: center;
    background-size: cover;
}
.recipe_image2, .recipe_image4{
    background: url('../images/blog2.jpg');
    height: 280px;
    background-position: center;
    background-size: cover;
}
.recipe_image1_div , .recipe_image2_div ,.recipe_image3_div, .recipe_image4_div{
    position: relative;
}
.recipe_hover_content{
    overflow: hidden;
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.recipe_hover_content span{
    font-size: 0.82rem;
}
.recipe_hover_content span:hover , .recipe_hover_content h5:hover{
    color: rgb(243, 85, 37);
}
.recipe_hover_div:hover .recipe_hover_content{
    animation: slide 0.4s ease both;
}
.recipe_hover_content p{
    font-size: 0.77rem;
}
@keyframes slide{
    0%{
        height: 100px;
    }
    10%{
        height: 60px;
    }
    100%{
        height: 180px;
    }
}
@media screen and (min-width:760px){
    .recipe_image1, .recipe_image3, .recipe_image2, .recipe_image4{
    height: 200px;
}
    .recipe_hover_content{
        height: 110px;
    }
    .recipe_hover_div:hover .recipe_hover_content{
        animation: slide 0.4s ease both;
    }
    @keyframes slide{
        0%{
            height: 110px;
        }
        10%{
            height: 80px;
        }
        100%{
            height: 180px;
        }
    }
}

/* -------------FOOTER------------- */
footer{
    font-family: 'Roboto',sans-serif;
}
.contact_media ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    cursor: pointer;
    border: 0;
    border-right: 0.6px solid rgb(184, 181, 181);
    background-color: rgb(250, 75, 44);
    transition: background 0.4s ease;
}
.contact_media ul li:last-child{
    border: none;
}
.contact_media ul li:hover{
    cursor: pointer;
    background-color: rgb(19, 129, 202);
}
.footer_links ul li a:hover{
    cursor: pointer;
  color: rgb(250, 75, 44);
}
.contact_media ul li a{
    font-size: 1.22rem;
    color: white!important;
}
.copyright{
    font-size: 0.84rem;
}
.footer_links ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(85, 83, 83);
}